{% extends "main.html" %}

{% block contents %}

<style>
    /* Estilos para la tabla */
    table th {
        background-color: #e48200 !important;
        color: white;
    }

    table>tbody>tr>td {
        vertical-align: middle !important;
    }

    /* Estilos para alinear los botones y cuadro de búsqueda*/
    .btn-group,
    .btn-group-vertical {
        position: absolute !important;
    }

    /* Estilos para la paginación de la tabla*/
    .page-item.active .page-link {
        background-color: #e48200 !important;
        border-color: #e48200 !important;
        color: white !important;
    }

    .page-link {
        color: black !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: none;
        color: black !important;
        border-radius: 4px;
        border: 1px solid #828282;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: none;
        color: black !important;
    }
</style>
<div class="container"><br>
    <h3 class="text-center mt-2">Próximas entregas</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h3 class="text-success">>{{ message }}</h3>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="col-lg-12 mt-4">
        <div class="table-responsive">
            <table id="tablePedidos" class="table table-bordered table-hover table-striped" cellspacing="0"
                width="100%">
                <thead>
                    <tr>
                        <th scope="col">Folio</th>
                        <th scope="col">Fecha de Pedido</th>
                        <th scope="col">Nombre del Arreglo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    {% if pedido[2] == 1 %}
                    <tr>
                        <td>{{ pedido[0] }}</td>
                        <td>{{ pedido[1] }}</td>
                        <td>{{ pedido[3] }}</td>
                        <td>{{ pedido[4] }}</td>
                        <td>${{ pedido[5] }} MXN</td>
                        <td>
                            <button class="btn btn-danger"><a href="/finalizarPedido/{{pedido[0]}}"
                                    style="text-decoration: none; color: white;">
                                    Atender <i class="fas fa-arrow-right"></i></a></button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('#tablePedidos').DataTable({
            // Idioma en español
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            // Uso de botones   
            responsive: "true",
            dom: 'Bfrtilp',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i> ',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf"></i> ',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger'
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> ',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-secondary'
                },
            ]

        });

    });
</script>
{% endblock %}